<div class="container col-md-6">

    
    <!-- Material form login -->
    <div class="card">
    
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Register</strong>
        </h5>
      
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
      
          <!-- Form -->
          <form class="text-center" style="color: #757575;" action="#!">
      
            <!-- Email -->
            <div class="md-form">
              <input type="email" id="Email" class="form-control">
              <label for="Email">E-mail</label>
            </div>
      
            <!-- Password -->
            <div class="md-form">
              <input type="password" id="Password" class="form-control">
              <label for="Password">Password</label>
            </div>
    
      
            <!-- Sign in button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register</button>
      
          </form>
          <!-- Form -->
      
        </div>
      
      </div>
      <!-- Material form login -->
    
    
    </div>
